{% extends 'layout.html' %}

{% block body %}
   <h1>About Us</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi mauris, fermentum eu nisl non, pellentesque egestas est. Duis sit amet tempus metus. Sed vulputate, nisi at congue dictum, sem augue bibendum nisi, nec pulvinar dui felis sed enim. Nulla rutrum, quam vel posuere imperdiet, eros erat vestibulum est, ultricies eleifend nibh ligula sed massa. In dignissim eleifend pretium. Donec laoreet elementum aliquam. Phasellus commodo ut purus ut tincidunt. Sed commodo massa eu augue condimentum finibus.</p>
{% endblock %}